# **LAB SHEET 3**
### **ADITYA PAL  CU24250198**
##### **BTECH CSE 4-02-2025**

# **BASIC PANDAS OPERATION**

### Task 1. Import pandas and import it in a python script

In [ ]:
import pandas as pd
import numpy as np

### Task 2.Create a DataFrame using the provided dataset

In [ ]:
dataset={
    'Name':['Alice','Bob','Carol','Dave','Eve'],
    'Age':[25,30,27,35,29],
    'City':['New York','Chicago','Boston','Seattle','Austin'],
    'Sallery':[50000,60000,55000,70000,65000]
}

df=pd.DataFrame(dataset)
print(df)

    Name  Age      City  Sallery
0  Alice   25  New York    50000
1    Bob   30   Chicago    60000
2  Carol   27    Boston    55000
3   Dave   35   Seattle    70000
4    Eve   29    Austin    65000

### Task 3.Display the first 10 rows of DataFrame

In [ ]:
df.head(10)

    Name  Age      City  Sallery
0  Alice   25  New York    50000
1    Bob   30   Chicago    60000
2  Carol   27    Boston    55000
3   Dave   35   Seattle    70000
4    Eve   29    Austin    65000

### Task 4.Select specific columns from the DataFrame

In [ ]:
print(df['Age'])

0    25
1    30
2    27
3    35
4    29
Name: Age, dtype: int64

### Task 5.Use .loc[ ] and .iloc[ ] to select specific row

In [ ]:
print(df.loc[2])  #by loc[]
print(df.iloc[1]) #by iloc[]

Name        Carol
Age            27
City       Boston
Sallery     55000
Name: 2, dtype: object
Name           Bob
Age             30
City       Chicago
Sallery      60000
Name: 1, dtype: object


### Task 6. Apply filtering to extract rows where sallery<55000

In [ ]:
print(df.loc[(df['Sallery']<55000)])

    Name  Age      City  Sallery
0  Alice   25  New York    50000

### Task 7. identify and count missing values in Dataset

In [ ]:
df.isnull().sum()

Name       0
Age        0
City       0
Sallery    0
dtype: int64

### Task 8.Replace missing value using appropriate method

In [ ]:
import pandas as pd
import numpy as np
newdataset={
    'Name':['Alice','Bob','Carol','Dave','Eve'],
    'Age':[25,30,np.NaN,35,29],
    'City':['New York','Chicago','Boston','Seattle',np.NaN],
    'Sallery':[50000,60000,55000,70000,65000]
}

df=pd.DataFrame(newdataset)
print(df['Age'].fillna(df['Age'].mean()))

0    25.00
1    30.00
2    29.75
3    35.00
4    29.00
Name: Age, dtype: float64